source https://api.nuget.org/v3/index.json

storage: none
framework: net6.0

nuget System.Linq.Async
nuget LanguageExt.Core
nuget NodaTime
nuget Microsoft.Extensions.Http
nuget Microsoft.Extensions.Http.Polly
nuget AspNetCore.HealthChecks.Uris
nuget Refit
nuget Refit.HttpClientFactory
nuget Mapster
nuget Cocona
nuget Microsoft.Extensions.Configuration


nuget Microsoft.NET.Test.Sdk
nuget xunit
nuget xunit.runner.visualstudio
nuget coverlet.collector